<aside class="sidebar">
  <nav>
    <ul>
      <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
      <li routerLink="/reports" routerLinkActive="active">Reports</li>
      <li routerLink="/users" routerLinkActive="active">Users</li>
      <li routerLink="/settings" routerLinkActive="active">Settings</li>
      <li routerLink="/Kanban" routerLinkActive="active">Kanban</li>
      <li routerLink="/Inbox" routerLinkActive="active">Inbox</li>
      <li routerLink="/Users" routerLinkActive="active">Users</li>
      <li routerLink="/Products" routerLinkActive="active">Products</li>
      <li routerLink="/Sign In" routerLinkActive="active">Sign In</li>
      <li routerLink="/Sign Up" routerLinkActive="active">Sign Up</li>
    </ul>
  </nav>
</aside>
